@import-normalize;
@import "./helper.scss";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $main-font;
    font-size: 10px;
}

*::before{
    box-sizing: border-box;
}

*::after{
    box-sizing: border-box;
}

ul, ol {
    list-style: none;
}

a{
    text-decoration: none;
    color: inherit;
}

.clearfix::after{
    content: "";
    display: block;
    clear: both;
}